<button onclick={{action 'run'}}>Run</button>
<button onclick={{action 'signal'}}>Signal</button>

<h1>Task 1 ({{t1.status}}):</h1>
<div>running: {{t1.isRunning}}</div>
<div>runs: {{t1.runs}}</div>
<div>fails: {{t1.failures}}</div>
<div>input: {{t1.input}}</div>
<div>output: {{t1.output}}</div>

<h1>Task 2 ({{t2.status}}):</h1>
<div>running: {{t2.isRunning}}</div>
<div>runs: {{t2.runs}}</div>
<div>fails: {{t2.failures}}</div>
<div>input: {{t2.input}}</div>
<div>output: {{t2.output}}</div>

<h1>Task 3 ({{t3.status}}):</h1>
<div>running: {{t3.isRunning}}</div>
<div>runs: {{t3.runs}}</div>
<div>fails: {{t3.failures}}</div>
<div>input: {{t3.input}}</div>
<div>output: {{t3.output}}</div>

<h1>Task 4 ({{t4.status}}):</h1>
<div>running: {{t4.isRunning}}</div>
<div>runs: {{t4.runs}}</div>
<div>fails: {{t4.failures}}</div>
<div>input: {{t4.input}}</div>
<div>output: {{t4.output}}</div>

<h1>Pipeline</h1>
<div>input: {{pipeline.input}}</div>
<div>output: {{pipeline.output}}</div>

<h1>Pipeline 2</h1>
<div>input: {{pipeline2.input}}</div>
<div>output: {{pipeline2.output}}</div>